<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aes256.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/93790912-dfe3-4a71-9df8-777af4b90484/resourceGroups/AES256Encryption/providers/Microsoft.Web/sites/aes256</ResourceId>
    <UserName>$aes256</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://aes256.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>